/* CSS Reset */
*{
margin: 0;
padding: 0;
}

header, footer, aside, nav, article, p {
display:block;
}

img{
border:none
}
/*end reset*/

html {
    font-size:100%;
    background:#b4c0bc url(./images/enstawp.png) top center repeat;
    margin:0;
    padding:0
    width:900px;
    height:100%;
}

body {
      color:#000000;
      font-size:18px;
      font-family:Arial, Helvetica, sans-serif;
      background-color:#FFFFFF;
      border:1px solid #6d7673;
      border-radius:10px;
       -moz-border-radius:10px;
       -moz-box-shadow: 0 0 5px #6d7673;
       -webkit-box-shadow: 0 0 5 px#6d7673;
       box-shadow: 0 0 5px #6d7673;
    width:900px;
    height: auto;
    overflow: auto;
    margin:auto;
    padding:0
}

header#banner{
    color:#FFFFFF;
      /*background:#000000 url(./images/space-banner.jpg) no-repeat;
    width:760px;
    height:161px;
    margin:20px 20px;*/
    padding:0px;
    border:1px solid #6d7673;
    border-radius:10px;
       -moz-border-radius:10px;
       -moz-box-shadow: 0 0 5px #6d7673;
       -webkit-box-shadow: 0 0 5px #6d7673;
       box-shadow: 0 0 5px #6d7673
    height:auto;
}

header#banner{
    margin: 20px 50px 20px 50px;
}

header#banner h1{
      color:#000000;
      font-size:48px;
      text-shadow:1px 1px 1px #000;
}

header#banner p{
    font-weight:300;
    font-size:18px;
    color:#000000;
    margin:0 0 0 70%;
}

.menu{
    padding-top:15px;
    margin-bottom:10px;
}
.menu ul{
height:30px;
padding:0 0 0 40px;
        -webkit-box-shadow:0px 2px 2px #111;
        box-shadow:0px 2px 2px #111;
}
.menu ul li{
display:inline-block;
height:30px;
       margin-left:-3px;
       text-align:center;
       border-right:1px solid rgba(255,255,255,0.1);
}
.menu ul,
    .menu ul li{
background:#D62300;
background:-webkit-linear-gradient(#F65E01,#D62300);
background:-moz-linear-gradient(#F65E01,#D62300);
background:-o-linear-gradient(#F65E01,#D62300);
background:linear-gradient(#F65E01,#D62300);
    }
.menu ul li a{
    font-family:"ComfortaaBold";
display:table-cell;
height:30px;
padding:0px 25px;
        vertical-align:middle;
color:#202020;
      text-decoration:none;
      font-size:1.2em;
      text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.menu ul li:hover{
background:#444;
background:-webkit-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
background:-moz-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
background:-o-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
background:linear-gradient(to right,#222,#555 5%,#555 95%,#222 100%);
}
.menu ul li:hover a{
color:#eee;
      text-shadow:1px 1px 1px black;
}



section#wrapper {
    margin-top: 50px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}



table {
border:2px solid #F65E01;
       border-spacing: 0px 0px;
       background-color:#000000;
       text-align: center;
       font-family:Arial, Helvetica, sans-serif;
}

thead {
    background-color: RGB(205, 208, 10);
}
thead, td {
padding: 5px 5px;
}


.colwrapper { width:95%; height:auto;overflow:auto; }
.ltcol, .ctcol, .rtcol { width:28%; margin:0 10px; padding:10px; background-color: #000000 }
.ltcol { float:left; }
.ctcol { float:left; }
.rtcol { float:left; }
.clear { clear: left; }


.holder {
       overflow: auto;
       clear:    both;
}
.holder .even-height {
       float: left;
}
#column-one { width: 55%; }
#column-two { width: 45%; }

.holder#column-two p {font-size=12px;}

form{
border: solid #F65E01 1px;
width: 50%;
margin: 5px;
padding: 5px;
float:center;
height:auto;
overflow:auto;
}
label{
    width: auto;
    float: left;
    text-align:left;
    margin: .5em 0em;
    clear: both;
}
select{
    margin: 13px 0 0 0;
    float:right;
    }
input, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 10px 0 0 0;
    width: 17em;
    float: right;
    height:auto;
}
input[type="submit"]{
    float: right;
    clear: both;
    width: auto;
    height:auto;
    margin-bottom: 1em;
    margin-left: 8em;
}
